@font-face {
    font-family: Loverine;
    word-spacing: 2px;
    src: url( "document/GreatVibes-Regular.ttf");
}
@font-face {
    font-family: oridnary;
    src: url("document/Ordinary\ Notes.otf");
}
.hero {
    height: 100vh;
    background: url('/food img/Cannoli Siciliani.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-family: Loverine;
    word-spacing: 2px;
    font-size: 5rem;
    margin-bottom: 10px;
}

.hero p {
    font-family: oridnary;
    font-size: 1.7em;
    margin-bottom: 20px;
}

.menu-btn {
    font-family: oridnary;
    background: transparent;
    border: 5px solid white;
    border-radius: 10%;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: background 0.3s ease;
}

.menu-btn:hover {
    background: white;
    color: black;
}
