body {
    position: relative;
    width: 100%;

    overflow-x: hidden; /* Hides horizontal scrollbar */
  

  
}
.swiper {
    height: 450px;
    display: flex;
}
.swiper-wrapper {
    display: flex; /* Ensures slides appear in a row */
}
.swiper-slide {
    border: 1px solid #ccc;
    background: #fff;
    display: block;
    flex-direction: column; /* Stack content */
    align-items: center;
    border-radius: 8px;
    padding: 16px;
    margin: 8px; /* Reduced margin for Swiper */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 380px;
    text-align: center;
    max-width: 200px;
    flex-shrink: 0;
}

.swiper-slide img {
    height: 150px;
    width: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Prevent stretching */
    border-radius: 8px 8px 0 0;
}

.swiper-slide h3 {
    margin: 16px 0 8px;
}

.swiper-slide p {
    color: #555;
}
.menu{
    background-image: url("image_2.jpg");
    max-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.course {
    color: rgb(64, 255, 0);
    gap: 150px;
    width: 95vw; /* Example */
    position: relative;
}
.course_divider{
    display: flex;
}
.course_divider_shape_left{
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 100px solid rgb(255, 255, 255);
    overflow: hidden;
}

.course_divider_shape_right{
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 100px solid rgb(255, 255, 255);
    overflow: hidden;
}
.course h1{
    text-align: center;

}
.Food_box{
    width:100% ;
    overflow: auto; 
}
.Food {
  
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;;
    gap: 20px;
    overflow: auto; 
   
}

.menu-item {
    font-size: 16px;
    line-height: 1.5;
}
.title {
    font-weight: bold;
}
.price {
    color: green;
    font-weight: bold;
    float: right;
}
.divider {
    margin-top: 5px;
    border-top: 1px solid lightgreen;
    text-align: center;
}
.divider span {
    background-color: white;
    padding: 0 10px;
    color: lightgreen;
}
